h1 {
  text-align: center;
}

img {
  border: solid;
}

#container-pantallas {
  display: flex;
  border: solid;
}

#nav-pokemones {
  display: flex;
  justify-content: center;
  align-items: center;
}

#radio-pokemon10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}