* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #DAF7A6;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  padding: 5px;
}

.container-batalla {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  border: solid;
  background-color: aliceblue;
}

.container-pokemones {
  background-color: #7B68EE;
  width: 48%;
  margin: 10px;
}

.container-pantalla1 {
  border: solid;
  width: 45%;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  flex-grow: 0;
  margin: 3px;
}

.container-pantalla2 {
  border: solid;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-grow: 1;
  margin: 3px;
  height: 500px;
}

.button {
  background-color: #4CAF50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 95%;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container-nav {
  border: solid;
  margin: 5px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.pagination {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  border: solid;
  background-color: aquamarine;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
ul li a:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prices .prev {
  font-size: size(2);
  font-weight: bolder;
  color: black;
  text-decoration: line-through;
}
.prices .now {
  font-size: size(5);
  font-weight: bolder;
}

.btn {
  display: flex;
  align-content: center;
}
.btn.btn-cta {
  background-color: #BB8FCE;
  color: black;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
}
.btn.btn-cta:hover {
  background-color: black;
  color: #DAF7A6;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}
.btn:hover {
  background-color: #DAF7A6;
  color: black;
  border-radius: 20px;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);
}