$primary-color:#BB8FCE ;
$secondary-color:black;
$terciary-color:#DAF7A6 ;
$header-color:#7B68EE;
$div-color:#CEE7FF;
$font-color:black;

$box-shadow:0 2px 10px 0 rgba(0,0,0,0.6);

$limit:10;
$unit: 8px;

@mixin reset-pm {
    padding: 0;
    margin: 0;
  }

*{
    @include reset-pm();
    box-sizing: border-box;
  }
  // header{
  //   background-color:$header-color ;
  // }
  body{
    @include reset-pm();

    text-align: center;
    background-color: $terciary-color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  
  
  a{
    color: $secondary-color;
    text-decoration: none;
  }
  h1{
    color: $secondary-color;
    font-size: 50px;
    text-align: center;
    padding: 5px;
  }
.container-batalla{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    border: solid;
    background-color: aliceblue;
  }
  .container-pokemones {
    background-color: #7B68EE;
    width: 48%;
    margin: 10px;
  }
  .container-pantalla1{
    border: solid;
    width: 45%;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
   flex-direction: column;
   align-content: space-around;
    flex-grow: 0;
    //padding: 5px ;
    margin: 3px;
    // height: 500px;
  }
 
  .container-pantalla2{
    border: solid;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    //padding: 5px ;
    margin: 3px;
    height: 500px;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 95%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .container-nav{
    border: solid;
    margin: 5px;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 5px;
  }
  .pagination{
    display: flex;
    width: 100%;
    flex-direction: row;
   justify-content: space-around;
    border: solid;
    background-color: aquamarine;
  }

  ul  {
 //   @include reset-pm();
    list-style: none;
    display: flex;
    gap: 20px;
      li {
        a {
         // @include btn($background-color:$terciary-color,$color:$font-color ,$bold:'true' );
  
          &:hover {
        //    @include btn($secondary-color,$terciary-color ,'false' );
            box-shadow: $box-shadow;
          }
        };
  
      };
  }
  
 
    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      
    }

  
  .prices {
    .prev {
      font-size: size(2);
      font-weight: bolder;
      color: $font-color;
      text-decoration: line-through;
    }
  
    .now  {
      font-size: size(5);
      font-weight: bolder;
    }
  }

  @mixin btn($background-color,$color,$bold) {
    background-color: $background-color;
    color: $color;
    border-radius: 20px;
    padding: 20px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    @if($bold =='true') {
      font-weight: bolder;
  
    }
  }
  
  .btn {
    display: flex;
    align-content: center;
    &.btn-cta {
      @include btn($primary-color,$secondary-color , 'true');
      &:hover {
        @include btn($secondary-color,$terciary-color,'true');
        box-shadow: $box-shadow;
      }
    }
  
    &:hover {
      @include btn($terciary-color,$secondary-color ,'true' );
      box-shadow: $box-shadow;
  
    }
  }  